<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body> 
        {{>header}}
        <h3>{{msg}}</h3>
        <p>{{name}}</p>
        {{>footer}}
    </body>
</html>